.Navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Navbar a {
    text-decoration: none;
    display: block;
    color: #77838f;
}

.Navbar a:hover {
    color: #0fa1d6;
}

.Navbar button {
    text-transform: uppercase;
    font-size: 0.7rem !important;
}

.Navbar button a, .Navbar button a:hover {
    color: #fff;
}

@media (max-width: 530px) {
    .Navbar {
        flex-direction: column;
        font-size: 0.8rem;
    }

    .Navbar li {
        margin: 5px 0;
    }
}


