.Navigation {
    width: 100%;
    display: flex;
    align-content: space-between;
    margin: 0 auto;
    box-shadow: 1px 1px #77838f6e;
}

.Navigation img {
    height: 3rem;
    margin: auto 0 auto 14%;
    align-items: baseline;
}

.Navbar {
    width: 100%;
    padding: 0 15% 0 0;
    margin: 5px 0;
    list-style-type: none;
    display: inline-flex;
    justify-content: flex-end;
    align-items: baseline;
}

.Login {
    color: #0fa1d6;
}