.Table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

.Table th {
    text-transform: uppercase;
    font-weight: normal;
}

.Head {
    display: flex;
}

.Text {
    flex: 1;
}

.Filtering {
    width: 20px;
}

.Sorted {
    color: #377DFF;
}
