.Table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.Table th {
    text-transform: uppercase;
    font-weight: normal;
}

.Table tbody tr {
    cursor: pointer;
}

.Head {
    display: flex;
    pointer-events: none;
    align-items: center;
}

.Text {
    flex: 1;
}

.Filtering {
    width: 20px;
}

.Sorted {
    color: #0fa1d6;
}

