.HazardIdentyfication {
    width: 90%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}

.HazardIdentyfication h2 {
    color: #1e2022;
    font-weight: normal;
    font-size: 1rem;
}
/* toggle style */

.Switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 20px;
    margin: auto 0;
}

.Switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 20px;
    text-align: right;
    padding-right: 7px;
    font-size: 0.9rem;
}

.Not {
    background-color: #ccc;
    color: #77838f;
}

.Yes {
    background-color: rgba(0, 201, 167, 0.3);
    color: #00c9A7;
}

.Warning {
    background-color: rgba(255, 193,7 , 0.2);
    color: #ffc107;
}

.Slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 20px;;
    background-color: white;
    transition: .4s;
    left: 2px;
    top: 1px
}

.Switch input:checked + .Not {
    background-color: rgb(55,125,255);
    color:  rgb(55,125,255);
}

.Switch input:checked + .Yes {
    background-color: #00c9A7;
}

.Switch input:checked + .Warning {
    background-color: #ffc107;
}

.Switch input:checked + .Slider:before {
    transform: translateX(33px);
}

@media (max-width: 500px) {
    .HazardIdentyfication h2 {
        font-size: 0.8rem;
        width: 80%;
    }

    .Switch {
        width: 38px;
        height: 15px;
    }

    .Slider {
        border-radius: 15px;
        padding-right: 5px;
        font-size: 0.7rem;
    }

    .Slider:before {
        height: 12px;
        width: 12px;
        border-radius: 15px;
    }

    .Switch input:checked + .Slider:before {
        transform: translateX(23px);
    }
}