.Table {
    width: 70%;
    margin: auto;
    text-align: center;
    border: solid #77838f 1px;
    border-collapse: collapse;
    table-layout: fixed;
    opacity: 0.8;
}

.Table th {
    text-transform: uppercase;
    font-weight: normal;
    border: solid #77838f 1px;
}

.Table td {
    border: solid #77838f 1px;
}

.EmptyTable {
    width: 70%;
    height: 100px;
    margin: auto;
    border: solid #77838f 1px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.EmptyTable h3 {
    color: #377DFF;
    text-align: center;   
}

.Navigation {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "f-1 f-2 f-3 space space f-6";
}

.Submit {
    grid-area: f-6;
}
