.Table {
    width: 70%;
    border: solid #77838f 1px;
    border-radius: 4px;
    opacity: 0.9;
    font-size: 0.9rem;
}

.Table th, tbody td {
    border: solid #77838fa1 1px;
    padding: 10px 5px;
}

.UserNav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.BasicUserNav {
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: flex-end;
}

.Image {
    display: block;
    width: 400px;
    margin: 2% auto;
}

.Search {
    display: none;
}

@media (max-width: 900px) {
    .Table {
        width: 85%;
    }

    .UserNav {
        width: 85%;
    }

    .BasicUserNav {
        width: 85%;
    }
}

@media (max-width: 530px) {
    .Image {
        width: 260px;
    }

    .Table {
        width: 99%;
    }

    .UserNav {
        width: 99%;
    }

    .UserNav div:last-child {
        display: none;
    }

    .Search {
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 2rem;
    }

    .Search button {
        width: 2rem;
    }

    .Search div {
        flex: 1;
        background-color: #fff;
    }

    .Search div input {
        width: 90%;
    }

    .BasicUserNav {
        display: none;
    }

}