.StatisticBox {
    width: 70%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;   
}

.StatisticBox h1 {
    display: flex;
    flex-direction: column;
    color: #377dff;
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
    margin: 5px 20px;
    flex: 1;
    align-self: baseline;
}

.StatisticBox span {
    color: #77838f;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width:500px) {
    .StatisticBox {
        flex-direction: column;
    }
}