.Navigation {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "f-1 f-2 f-3 space space f-6";
}

.Submit {
    grid-area: f-6;
}