.Search {
    display: flex;
}

.Search button {
    margin: 0;
    outline: none;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.Search button svg{
    pointer-events: none;
}

.SearchBox input {
    border: none;
    height: inherit;
    /* width: auto; */
    outline: none;
}

.SearchClose {
    width: 30px;
    text-align: center; 
    height: inherit;
    margin: auto 0;
}

.SearchActive {
    color: #77838f96;
    transition: color 0.4s;
}

.SearchClose svg {
    pointer-events: none;
}

.SearchNotActive {
    color: #fff;
    transition: color 0.4s;
}

.SearchBox {
    display: flex;
    flex-direction: row;
    border: rgba(55, 125, 255, 0.3) 2px solid;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


