.SideDrawer {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 250px;
    height: 100%;
    padding: 30px 20px;
    z-index: 200;
    background-color: #fff;
}

.Close {
    transform: translateX(100%);
}

.Open {
    transform: translateX(0);
}

@media (min-width: 530px) {
    .SideDrawer {
        display: none;
    }
}