.Button {
    display: block;
    border: none;
    border-radius: 3px;
    padding: 7px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.Button:disabled, .Button:disabled:hover{
    background-color: #ccc;
    color: #77838f
}

.Button:focus {
    outline: none
}

.Submit {
    background-color: #0fa1d630;
    color: #0fa1d6;
}

.Submit:hover, .SubmitFocus {
    background-color: #0fa1d6;
    color: #fff;
}

.Cancel {
    background-color: rgba(222,68,55, 0.3);
    color: #de4437;
}

.Cancel:hover, .CancelFocus {
    background-color: #de4437;
    color: #fff;
}

.Active {
    background-color: rgba(0, 201, 167, 0.2);
    color: #00c9a7;
}

.Active:hover, .ActiveFocus{
    background-color: #00c9a7;
    color: #fff;
}

.Warning {
    background-color: rgba(255, 193,7 , 0.2);
    color: #ffc107;
}

.Warning:hover, .WarningFocus {
    background-color: #ffc107;
    color: #fff;
}

.Icon {
    color: #77838f;
}

.Icon:hover {
    color: #377dff;
}

@media (max-width: 900px) {
    .Button {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .Button {
        font-size: 0.7rem;
    }
}
