.Box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Box button {
    margin-right: 2px;
}

.Navigation {
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px) {
    .Box > button:last-child {
        display: none;
    }
}





