.Output {
    width: 85%;
    margin: 3% auto;
}

.Info {
    padding: 2% 0;
}

.Info h5 {
    text-align: right
}

.Info h2 {
    text-align: center;
}

.Table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

.Table th {
    text-transform: uppercase;
    font-weight: normal;
    border: solid #77838f 1px;
}

