.Box {
    display: flex;
    border-bottom: solid #0fa1d677 3px;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.Box img {
    width: 200px;
    height: auto
}

.Right {
    flex-direction: row-reverse;
}

.TextBox {
    width: 50%;
}

.TextBox h3 {
    text-transform: uppercase;
    font-family: 'Advent Pro', sans-serif;
    color: #0fa1d6;
    margin: 10px 0 !important;
    text-align: left !important;
}

.TextBox p {
    color: #77838f !important;
    margin: 0;
    text-transform: none !important;
}

@media (max-width: 500px) {
    .Box {
        flex-direction: column-reverse;
    }

    .Box img {
        width: 100px;
        height: auto
    }

    .TextBox {
        width: 90%;
    }

    .TextBox h3 {
        text-align: center !important;
    }
}

