.TableHead {
    display: flex;
    justify-content: flex-end;
}

.TableHead span {
    flex: 1;
}

.Filtering {
    display: flex;
    flex-direction: column;
    margin: auto 5px;
    color: #377DFF;
    background-color: #fff;
    width: 10px;
    height: 100%;
}

.Top {
    position: relative;
}

.Down {
    position: relative;
}

.Top:before {
    content: '';
    position: absolute;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #377DFF transparent ;
    bottom: 2px;
    right: 3px
}

.Down:before {
    content: '';
    position: absolute;
    border-width: 6px;
    border-style: solid;
    border-color: #377DFF transparent transparent transparent;
    top: 2px;
    right: 3px
}


