.HazardForm {
    width: 90%;
    display: block;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border: #377dff solid 1px;
    border-radius: 4px;
    color: #77838f;
}

.HazardBox {
    margin: 20px 20px;
    flex-direction: column;
    display: flex;
}

.HazardBox textarea {
    height: 4rem;
}

.HazardBox label {
    margin: 5px 0;
}

.HazardBox select {
    width: 6rem;
}

.RiskBox {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.ButtonBox {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 500px) {

    .HazardForm {
        font-size: 0.8rem;
    }

    .RiskBox {
        flex-direction: column;
        align-items: center;
    }

    .RiskBox select {
        width: 100%;
    }
}



  