.HazardForm {
    width: 70%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.HazardBoxNone {
    display: none;
}

.HazardBox {
    font-size: 0.9rem;
    flex-direction: column;
    display: flex;
}


  